textarea 
{
    resize: none;

}

input:focus , textarea:focus

{
    outline: none;
}

#output
{
    background-color: whitesmoke;
}
.fit-content 
{
    width: fit-content;

}

body{
    background-color: whitesmoke;
}