.content {
    padding: 20px;

}

div 
{
    font-size: 25px !important;
}
textarea {
    width: 90%;
    padding: 20px;
    font-size: 25px;
    resize: none;
    transition: all 0.4s;
    margin-block: 10px;

}
textarea:hover 
{
    background-color: whitesmoke;
}
select 
{
    width: 25%;
}


.d-flex {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin: auto;
}

.one {
    width: 100%;
    padding: 10px;
}

.two {
    width: 100%;
    padding: 10px;
    align-self: center;
}

button {
    border: green solid 3px;
    font-weight: bold;
    font-size: 20px;
    color: green;
    background-color: white;
    padding: 15px;

}
button:hover 
{
    background-color: green;
    color: white;
    cursor: pointer;
}
input:focus 
{
    outline: none;
}

.special 
{
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
    width: 50%;
    margin-left:5px;
}

.d-none 
{
    display: none;
}