textarea 
{
    resize: none;
    text-transform: uppercase;

}

input:focus , textarea:focus

{
    outline: none;
}

#output
{
    background-color: whitesmoke;
}
.fit-content 
{
    width: fit-content;

}